/* ================Carousel===============*/
.carousel-item {
    height: 700px;
}

.carousel-dark .carousel-caption {
    color: rgb(0, 255, 42);
    top: 50%;
    font-weight: bolder;
}
.carousel-dark .carousel-caption {
    color: rgb(231, 231, 231);
    top: 50%;
    font-weight: bolder;
}
.carousel-dark .carousel-caption h5{
    font-size: 50px;
    font-weight: bolder;
}

@media(max-width:767px) {
    .carousel-item {
        height: 100%;
    }

  
    .carousel-caption   {
        margin-top: -50px;
        height: 0px;
    }
    h5 {
        font-size: 30px !important;
    }
}