<div id="myCarousel" class="carousel  carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="assets/sections/images/weShip_bg01.jpeg" class="d-block w-100">
      <div class="carousel-caption">
        <h5>We ship over 45 million</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="assets/sections/images/computersAccessors_bg02.jpeg" class="d-block w-100 ">
      <div class="carousel-caption">
        <h5>Shop computers & Accessories</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="assets/sections/images/toys_bg03.jpeg" class="d-block w-100">
      <div class="carousel-caption">
        <h5>Shop Toys & Games</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

