
<div class="container">
    <div class="text-center mt-4 mb-4">
      <h2 class="">International Best Sellers</h2>
      <p>
       The product data
      </p>
    </div>
    <div class=" row justify-content-center mt-5 pt-5 mb-5 ">
      <div class="col-md-4 col-sm-4 ">
        <div class="card text-center">
            <img  src="{{ product.imageUrl }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-title">{{ product.description }}</p>

            
            <star-rating
              [value]="4"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="24px"
              [readonly]="false"
            ></star-rating>
            <p class="card-text">{{ product.price | currency }} </p>
            <p class="card-text">Count: {{ product.count }} </p>
            <div class="btn btn-primary" (click)="addToCart()">Add to cart</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  